<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>CSS Integration JSON Editor Example</title>
  <%= javascript_pack_tag "application" %>
  <%= stylesheet_pack_tag "theme" %>
  <link rel="shortcut icon" href="<%= favicon_path %>">

  <!-- Foundation CSS framework (Bootstrap and jQueryUI also supported) -->
  <link rel='stylesheet' href='//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css'>
  <!-- Font Awesome icons (Bootstrap, Foundation, and jQueryUI also supported) -->
  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>

  <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor/dist/jsoneditor.min.js"></script>

  <script>
    // Set the default CSS theme and icon library globally
    JSONEditor.defaults.theme = 'foundation5';
    JSONEditor.defaults.iconlib = 'fontawesome4';
  </script>
</head>

<body>
<div class='row'>
  <div class='medium-12 columns'>
    <h1>Values for <%= DateTime.now.strftime('%-d %B %Y') %></h1>
  </div>
</div>
<div class='row'>
  <div class='medium-12-columns'>
    <button id='submit' class='tiny'>Add</button>
    <button id='restore' class='secondary tiny'>Restore to Default</button>
    <span id='valid_indicator' class='label'></span>
  </div>
</div>
<div class='row'>
  <div id='editor_holder' class='medium-12 columns'></div>
</div>
<script src="/add.js"></script>
</body>
</html>